<% @users.each do |user| %>
  <div class="users-container">
  <div class="user-rows">
    <%= image_tag('profile.jpg', :alt => 'user', :width => '100px', :height => '100px') %>
    <div class="user-info">
      <h2><%= user.name %></h2>
      <p>Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
</div>
<%end%>
