<div class="users-container">
  <div class="user-rows">
    <%= image_tag('profile.jpg', :alt => 'user', :width => '100px', :height => '100px') %>
    <div class="user-info">
      <h2>User Name</h2>
      <p>Number of posts: 1</p>
    </div>
  </div>
  <div class="post-container">
    <div class="user-posts-container">
      <div class="each-post">
        <h4>Post Number: 1</h4>
        <p>This is my post<p>
        <div class="post-left">
          <p class="post-left">Comments: x | Likes: y</p>
        </div>
      </div>
    </div>
    <div class="comments-for-post">
      <p>Username: Comment 1</p>
      <p>Username: Comment 2</p>
      <p>Username: Comment 3</p>
      <p>Username: Comment 4</p>
      <p>Username: Comment 5</p>
    </div>
  </div>
  <div class="see-all-btn">
    <button type="button">Pagination</button>
  </div>
</div
