<div class="users-container">
  <div class="post-container">
    <div class="user-posts-container">
      <div class="each-post">
        <div class="post-header-info">
          <h4>Post Number: 1</h4>
          <p class="post-left more-down">Comments: x | Likes: y</p>
        </div>
        <p>This is my post<p>
      </div>
    </div>
    <div class="comments-for-post">
      <p>Username: Comment 1</p>
      <p>Username: Comment 2</p>
      <p>Username: Comment 3</p>
      <p>Username: Comment 4</p>
      <p>Username: Comment 5</p>
    </div>
  </div>
</div
